body {
  margin: 8vh 30vw auto 30vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media only screen and (max-width: 1400px) {
  body {
    margin: 8vh 25vw auto 25vw;
  }
}

@media only screen and (max-width: 600px) {
  body {
    margin: 8vh 5vw 5px 5vw;
  }
}
